<!DOCTYPE html>
<html>
                    <title>Bienvenidos</title>
    <head>
            <meta name="viewport" content="width=device-width,initial-scale=1.0">

            <link rel = "stylesheet" type = "text/css" href="/css/styles-l.css"> 
             <!-- ACA UNO MI HTML JUNTO CSS-->
        
            <link rel = "stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />

    </head>
    
    <body>
                   
        <section class="registro">

            <div class="form-register">

                <h4>Formulario Registro </h4>

                <form action="" method="POST">
                 <label for="nombre"></label>
                                            
                <input class="controls animable-a" type="text" name="usuario" placeholder="nombre de usuari@" id="nombre"/>

                <br>

                <input class="controls animable-b" type="password" name="clave" placeholder="password" />

                <br>
                              
                <button class="bottons animable-c" type="submit"><a href="#"> Entrar </a></button>  

                <button class="botton animable-d" type="reset"> Reiniciar </button>

                <br>                    
                </form>

            </div>
            
        </section>    
            
      </body>
        

</html>

