<!DOCTYPE html>
<html>
                    <title>Bienvenidos</title>
    <head>
            <meta name="viewport" content="width=device-width,initial-scale=1.0">

            <link rel = "stylesheet" type = "text/css" href="/css/styles-r.css">      
            <!-- ACA UNO MI HTML JUNTO CSS-->
        
            <link rel = "stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />

    </head>
    
    <body>
        <header class="main-header">
            <div class="flex">
                <div class="main-header-top-bar">
                    <img src="/img/mercadologo.jpg" class="logo">
                    <div class="barra">
                        <input class="barra"><button class="boton1"><i class="fas fa-search"></i></button>
                    </div>
                </div>
        
                <div>
                    <h2 class = "copy-header">
                        <i class="fas fa-hand-holding-usd"></i>
                        Compra en cuotas y sin tarjeta de  credito
                    </h2>
                </div>
            </div>
                <a href="#" class="burger-menu">
                    <i class="fas fa-bars"></i>
                </a>
                <br>
         <!-- ACA EMPIEZA REGISTRO-->          
        <section class="registro">

            <div class="form-register">

                <h4>Formulario Registro </h4>

                <form action="" method="POST">
                 <label for="nombre"></label>
                                            
                <input class="controls animable-a" type="text" name="usuario" placeholder="nombre y apellido" id="nombre"/>

                <br>
              
                <input class="controls animable-b" type="text" name="usuario" placeholder ="nombre de usuari@" id="nombre"/>

                <br>

                <input class="controls animable-c" type="email" name="email" placeholder="email" required/>
    
                <br>
                <label>Fecha de nacimiento</label>
                <div class="controls animable-d">
                
                    <input type="date" name="Fecha de nacimiento"/>
                </div>

                <div>
                    <input class="controls animable-e" type="text" name="usuario" placeholder="Domicilio" id="nombre"/>
                </div>

                <label>Perfil del Usuario</label>
                <div class="controls animable-f">
                    <label > Comprador </label>
                    <input type="checkbox" name="combo" id="Comprar" value="Primero" />
                    <label> Vendedor </label>
                    <input type="checkbox" name="combo" id="Vender" value="Segundo" />
                </div>   

                <br>
                <label>Intereses</label>
                <div class="lista controls animable-g">
                    <div>                        
                        <input type="radio" name="pago" value="Electro" checked >
                        <label> Electro </label>
                    </div>
                    <div>                        
                        <input type="radio" name="pago" value="Moda"/>
                        <label> Moda </label>
                    </div>
                    <div>                        
                        <input type="radio" name="pago" value="Hogar" checked >
                        <label> Hogar </label>
                    </div> 
                    <div>                        
                        <input type="radio" name="pago" value="jugueteria" checked >
                        <label> jugueteria </label>
                    </div> 
                    <div>                    
                        <input type="radio" name="pago" value="Vida sana" checked >
                        <label> Vida sana </label>
                    </div> 
                    <div>
                        <input type="radio" name="pago" value="Otro" /> 
                        <label> Otro </label>
                    </div> 
                                         
                </div>
                
                <br>
                <label>Foto de usuario</label>
                <div class="controls animable-h">
                    <input type="file" name="archivo" accept=".jpg" />
                </div>
                
                <br>


                <input class="controls animable-i" type="email" name="email" placeholder="email" required/>

                <br>

                <input class="controls animable-j" type="password" name="clave" placeholder="password" />

                <br>

                <input class="controls animable-k" type="password" name="clave" placeholder="confirm password" />

                <br>
                              
                <button class="bottons animable-k" type="submit"> registrar </button>  

                <button class="botton animable-k" type="reset"> Reiniciar </button>

                <br>

                <p><a href="#">¿Ya tengo cuenta?</a></p>      
                
                </form>

            </div>
            
        </section>    
            
      </body>
        

</html>
